{% extends "layouts/back-end/base.njk" %}
{% set active_menu_message = "messages" %}
{% set using_asc = query_string_params.sorting == "asc" %}
{% set sort_param = "desc" if using_asc == true else "asc" %}
{% set sort_text = "Trier du plus récent au plus ancien" if using_asc == true else "Trier du plus ancien au plus récent" %}

{% import "pages/back-end/messages/table.njk" as messages with context %}

{% import "components/back-end/pagination.njk" as pagination with context %}
{% import "components/back-end/list-actions.njk" as list_actions %}

{% block title %}
    Liste messages
{% endblock %}

{% block main %}
    <div class="bg-white rounded-2xl shadow-md pb-6">
        <header class="mb-1 p-6 gap-2 @3xl/main:gap-0 flex justify-between @3xl/main:flex-row flex-col">
            <div>
                {% include "components/back-end/breadcrumb.njk" %}
                <h2 class="text-4xl">
                    Liste messages
                </h2>
                <p class="text-sm">
                    {{ count }} message{% if count > 1 %}s{% endif %} au total
                </p>     
            </div>
            <div class="flex gap-3 flex-col @xl:flex-row">
                <a href="{{ "?sorting=" ~ sort_param }}" class="w-full flex gap-1 justify-center @3xl/main:hidden sm:w-fit text-md bg-neutral-100 hocus:bg-neutral-200 text-black rounded-2xl messages-center text-sm py-2 px-4 h-fit text-center">
                    {% if using_asc %}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h5.25m5.25-.75L17.25 9m0 0L21 12.75M17.25 9v12" />
                        </svg>
                    {% else %}
                        <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 4.5h14.25M3 9h9.75M3 13.5h9.75m4.5-4.5v12m0 0-3.75-3.75M17.25 21 21 17.25" />
                        </svg>
                    {% endif %}
                    Trier du plus récent au plus ancien
                </a>
            </div>
        </header>
        {{ messages.table(list_messages) }}
        <footer class="flex justify-between px-4 flex-col @3xl/main:flex-row relative messages-center">
            {# {{ pagination.message(list_messages) }} #}
        </footer>
    </div>
{% endblock %}