<nav class="max-w-[1200px] mx-auto" role="navigation" aria-label="Menu principal">
  
  {# Version Desktop  #}
  <ul data-navigation="front-end" class="hidden md:flex md:justify-end gap-x-10 overflow-x-auto sm:mr-0 mt-10">
    {% for menu_item in menu %}
      <li>
        <a class="
          block whitespace-nowrap text-lg hocus:text-pink-600 
          {{ 'text-pink-600 font-bold underline' if activePage == menu_item.name | lower else '' }}
        " 
        href="{{ menu_item.link }}">
          {{ menu_item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  {#  Version Mobile  #}
  <div class="md:hidden mt-5">
    <label for="menu-select" class="block text-lg font-bold mb-2">Menu déroulant</label>
    <select id="menu-select" class="w-full p-2 border rounded">
      {% for menu_item in menu %}
        <option value="{{ menu_item.link }}" 
          {{ 'selected' if activePage == menu_item.name | lower else '' }}>
          {{ menu_item.name }}
        </option>
      {% endfor %}
    </select>
  </div>

</nav>
