{% extends "layouts/back-end/base.njk" %}
{% set active_menu_item = "divers" %}

{% block title %}
    Divers
{% endblock %}

{% block main %}
    <div class="bg-white rounded-2xl shadow-md pb-6 p-6">
        {% include "components/back-end/breadcrumb.njk" %}
        <h2 class="text-4xl mb-6">Divers</h2>

        <div id="flash-container">
            {% for item in list_errors %}
                <p class="rounded-lg p-3 bg-red-100 text-red-800 border-solid border-x border-y border-red-700 mb-3">{{ item }}</p>
            {% endfor %}
            {% if messages.success %}
                <p class="rounded-lg p-3 bg-green-100 text-green-800 border-solid border-x border-y border-green-700 mb-3">{{ messages.success }}</p>
            {% endif %}
        </div>

        <h3 class="text-2xl font-semibold mb-4">Modifier la Journée Portes Ouvertes</h3>
        <form action="" method="post" class="space-y-4" id="jpo-form">
            <div class="grid grid-cols-3 gap-4">
                <div>
                    <label for="jpo_date" class="block text-gray-700 my-2 font-semibold">Date de la JPO :</label>
                    <input type="text" id="jpo_date" name="jpo_date" value="{{ divers.jpo.date }}" 
                        class="w-full border border-gray-300 rounded-lg p-2 cursor-not-allowed bg-gray-100" disabled>
                </div>
                <div>
                    <label for="jpo_start" class="block text-gray-700 my-2 font-semibold">Heure de début :</label>
                    <input type="text" id="jpo_start" name="jpo_start" value="{{ divers.jpo.start_time }}" 
                           class="w-full border border-gray-300 rounded-lg p-2 cursor-not-allowed bg-gray-100" disabled>
                </div>
                <div>
                    <label for="jpo_end" class="block text-gray-700 my-2 font-semibold">Heure de fin :</label>
                    <input type="text" id="jpo_end" name="jpo_end" value="{{ divers.jpo.end_time }}" 
                           class="w-full border border-gray-300 rounded-lg p-2 cursor-not-allowed bg-gray-100" disabled>
                </div>
            </div>

            <div class="flex space-x-4 mt-4">
                <button type="button" id="edit-btn" class="bg-orange-500 text-white px-10 py-2 rounded-lg hover:bg-orange-600">
                    Modifier
                </button>
                <button type="submit" id="save-btn" class="bg-gray-500 opacity-50 cursor-not-allowed text-white px-10 py-2 rounded-lg hover:bg-gray-400" disabled>
                    Enregistrer
                </button>
            </div>
        </form>

        <div class="py-6">
        <h2 class="text-2xl font-semibold mb-4">Choisir un thème :</h2>
        <div class="justify-center flex space-x-4">
            <button class="theme-btn bg-blue-500 text-white px-10 py-2 rounded" data-theme-color="#bfdbfe">Bleu</button>
            <button class="theme-btn bg-red-500 text-white px-10 py-2 rounded" data-theme-color="#EF4444">Rouge</button>
            <button class="theme-btn bg-green-500 text-white px-10 py-2 rounded" data-theme-color="#10B981">Vert</button>
            <button class="theme-btn bg-orange-500 text-white px-10 py-2 rounded" data-theme-color="#F97316">Orange</button>
            <button class="theme-btn bg-purple-500 text-white px-10 py-2 rounded" data-theme-color="#8B5CF6">Violet</button>
            <button class="theme-btn bg-white text-black px-10 py-2 rounded border" data-theme-color="#f5f5f5">Blanc</button>
        </div>
    </div>
{% endblock %}
