{% extends "layouts/front-end/base.njk" %}

{% block title %}Article {# Requête Titre Article à recupérer sur la BDD #}
{% endblock %}



{% block main %}
<article>
    <header>
        <h1>{{ article.title }}</h1>
        <p>Par {{ article.author.firstname~' '~article.author.lastname }} le {{ article.updated_at }}</p> {# Modif de la date via fonction js en cours de recherche #}
    </header>
    <section>
        <p>{{ article.content }}</p>
    </section>
</article>
    
   
{% endblock %}
