{% extends "layouts/front-end/base.njk" %}

{% block title %}{{ article.title }}
{% endblock %}



{% block main %}
<article>
    <header>
        <h1>{{ article.title }}</h1>
        <p>Par {{ article.author.firstname~' '~article.author.lastname }} le <time datetime="{{ article.updated_at }}">{{ article.updated_at|date("dd/LL/yyyy à HH:mm") }}</time></p> {# Modif de la date via fonction js en cours de recherche #}
    </header>
    <section>
        <p>{{ article.content }}</p>
    </section>
</article>
    
   
{% endblock %}
