{% extends "layouts/front-end/base.njk" %}
{% set activePage = 'contact' %}


{% block title %}Nous contacter
{% endblock %}


{% block main %}
    <div id="flash-container"></div>
    <form action="" data-form class="mt-5 max-w-md mx-auto" method="post" enctype="application/json" data-async-form="contact_form">
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="firstname" id="firstname" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-900 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="firstname" class="peer-focus:font-medium absolute text-sm text-gray-900  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Prénom
                </label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <input type="text" name="lastname" id="lastname" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-900 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="lastname" class="peer-focus:font-medium absolute text-sm text-gray-900  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Nom de famille
                </label>
            </div>
        </div>
        <div class="relative z-0 w-full mb-5 group">
            <input type="email" name="email" id="email" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-900 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
            <label for="email" class="peer-focus:font-medium absolute text-sm text-gray-900  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
            Adresse E-mail
            </label>
        </div>
        <div class="flex flex-col my-2 space-y-2">
            <label for="content" class="block text-sm font-semibold text-gray-900 underline underline-offset-2">Contenu du message :</label>
            <textarea id="content" name="content" required rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-900 focus:ring-blue-500 focus:border-blue-500" placeholder="J'aimerai avoir une information sur..."></textarea>
        </div>
        <div class="flex my-2">
            <div class="flex items-center me-4">
                <input id="identity" type="radio" value="non_precise" name="identity" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-900 focus:ring-blue-500">
                <label for="identity" class="ms-2 text-sm font-medium text-gray-900">Non précisé</label>
            </div>
            <div class="flex items-center me-4">
                <input id="identity" type="radio" value="parent" name="identity" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-900 focus:ring-blue-500">
                <label for="identity" class="ms-2 text-sm font-medium text-gray-900">Parent</label>
            </div>
            <div class="flex items-center me-4">
                <input id="identity" type="radio" value="etudiant" name="identity" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-900 focus:ring-blue-500">
                <label for="identity" class="ms-2 text-sm font-medium text-gray-900">Etudiant</label>
            </div>
            <div class="flex items-center me-4">
                <input id="identity" type="radio" value="autre" name="identity" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-900 focus:ring-blue-500">
                <label for="identity" class="ms-2 text-sm font-medium text-gray-900">Autre</label>
            </div>
        </div>
        <div class='mt-4'>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
                Envoyer
            </button>
        </div>
    </form>
{% endblock %}
