{% extends "layouts/front-end/base.njk" %}
{% set activePage = 'accueil' %}
{% set bubble_color = "vert" %}




{% block title %}Accueil
{% endblock %}


{% block main %}
    <section class="grid grid-cols-1 lg:grid-cols-[1fr_24rem] gap-x-6 gap-y-4 mb-6">
        <h1 class="text-3xl font-bold lg:col-span-2 mt-6 lg:mt-0">Articles sur le BUT MMI</h1>
            <ul class="flex md:flex-row sm:landscape:flex-col flex-col lg:flex-col gap-6">
                {% for article in list_articles %}
                    <li>
                        <a class="flex flex-col sm:max-lg:landscape:flex-row w-full shadow hocus:shadow-xl transition-shadow rounded-lg overflow-hidden" href="/article/{{ article._id }}">
                            <div class="aspect-[25/14] overflow-hidden">
                                <img class="object-cover h-full w-full" src="/uploads/{{ article.image }}" alt="{{ article.title }}">
                            </div>
                            <section class="p-8 pb-11">
                                <h2 class="text-2xl font-bold">{{ article.title }}</h2>
                                <p class="my-1 text-xl font-semibold">{{ article.abstract }}</p>
                                <p class="my-1">{{ article.content }}</p>
                                <p class="italic text-gray-600 mt-8 text-right">Par {{ article.author.firstname }} {{ article.author.lastname }}</p>
                                <p class="text-gray-500 text-sm">Publié le <time datetime="{{ article.created_at }}">{{ article.created_at|date("dd/LL/yyyy à HH:mm") }}</time></p>
                            </section>
                        </a>
                    </li>
                {% endfor %}
            </ul>

        <a class="jpo-banniere rounded-lg overflow-hidden order-first lg:order-none" href="https://www.cyu.fr/formation/construire-son-projet/salons-journee-portes-ouvertes" title="Ouverture dans un nouvel onglet">
            <div class="logo">
                <img src="/images/logo-cyu-blanc.png" width="200" alt="">
            </div>
            <section class="textes">
                <p class="text-2xl">Journée portes ouvertes</p>
                <p class="text-4xl mb-3">
                    12/02/2023,
                    <br>
                    de 10h à 17h
                </p>
                <p class="en-savoir-plus">EN SAVOIR PLUS</p>
            </section>
        </a>
    </section>
{% endblock %}
